<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    <h5>{{title}}</h5>
    <form >
        <input placeholder="location">
        <button>Serach</button>
    </form>
    <script src="../public/JS/app.js"></script>
</body>
</html>